@font-face
{
font-family: 'BallparkWeiner';
src: url('polices/ballpark.eot');
src: url('polices/ballpark.eot?#iefix') format('embeddedopentype'),
url('polices/ballpark.woff') format('woff'),
url('polices/ballpark.ttf') format('truetype'),
url('polices/ballpark.svg#BallparkWeiner') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: 'Dayrom';
src: url('polices/dayrom.eot');
src: url('polices/dayrom.eot?#iefix') format('embeddedopentype'),
url('polices/dayrom.woff') format('woff'),
url('polices/dayrom.ttf') format('truetype'),
url('polices/dayrom.svg#Dayrom') format('svg');
font-weight: normal;
font-style: normal;
}
body
{
	background : grey; 
	color : white ;
}
main
{
	margin-left :150px;
	margin-top : 40px;
}
nav
{
	position : absolute ;
	right : 150px ;
}
nav li
{
	display : inline-block ;
	text-align : right ;
	margin-right : 10px;
}
hr
{
	margin-left : 150px ;
	margin-right :150px ;
	margin-top : 100px;
}
h1
{
	margin-top : 150px;
	font-size : 40px;
	font-family : verdana ;
}
.open li
{
	display : inline-block;
	margin-left :100px;
}
.new
{
	color : lime ;
	border : 2px solid lime ;
    border-radius : 10px;	
	margin-top :170px;
}